@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div>
        <br />
        <br />
        <h3>这是主页内容,本标签页不可以关闭</h3>
    </div>
</body>
</html>
