@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div>
        <br />
        <br />
        <h3>这是主页内容,本标签页不可以关闭,内容可以自定义，如欢迎词、重要日志、重要任务、常用功能等</h3>
    </div>
</body>
</html>
