@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="icon" href="~/Content/themes/images/user.ico" type="image/x-icon" />
    <link href="~/Content/layui-v2.4.5/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/login.css" rel="stylesheet" />
    <title>hoc erp</title>
</head>
<body>
    <div class="main">
        <div class="layui-fluid contain">
            <h2 style="text-align:center">ERP</h2>
            <br />
            <form class="layui-form layui-form-pane" action="/Login/Login" method="post">
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="layui-icon layui-icon-user"></i> 商户编号</label>
                    <div class="layui-input-block">
                        <input name="chainNo" autocomplete="off" placeholder="" class="layui-input" type="text" id="chainno">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="layui-icon layui-icon-username"></i> 用&ensp;户&ensp;名</label>
                    <div class="layui-input-block">
                        <input name="account" class="layui-input" type="text" id="username" value="">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="layui-icon layui-icon-password"></i> 密&emsp;&emsp;码</label>
                    <div class="layui-input-block">
                        <input name="password" autocomplete="off" placeholder="" class="layui-input" type="password" id="pass">
                    </div>
                </div>
                <br />
                <input type="button" class="layui-btn layui-btn-fluid" onclick="enterIn()" value="登录" id="btnlogin" />
            </form>
        </div>
        <footer class="layui-footer">
            <p id="p1">
                @Html.ActionLink("简述", "Index", "Home", new { area = "" }, null) &emsp;
                @Html.ActionLink("APIs", "Index", "Help", new { area = "" }, null)
            </p>
            <p>- &copy; 好食好客·@DateTime.Now.Year -</p>
        </footer>
    </div>
    <script src="~/Content/themes/jquery2.1.1.min.js"></script>
    <script src="~/Content/layui-v2.5.6/layui/layui.js"></script>
    <script>
        $(function () {
            $("body").keydown(function () {
                var theEvent = window.event || arguments.callee.caller.arguments[0];
                if (theEvent.keyCode != 13)
                    return;
                $("#btnlogin").click();
            });

            layui.use(['layer', 'form', 'element'], function () {
                var layer = layui.layer,
                    form = layui.form,
                    element = layui.element;
            });
        });

        function enterIn() {
            //var chainid = $("#chainno").val();
            //if (!chainid || chainid.length == 0 || chainid.length != 6) {
            //    alertAbsorb("请填写正确商户编号", "chainno");
            //    return;
            //}
            var user = $("#username").val();
            var password = $("#pass").val();
            $.post("/Login/Login", { chainNo: "", account: user, password: password }, function (data) {
                if (data.code == 0) {
                    layer.msg("正在登录。。");
                    window.location.href = "/Home/Index";
                }
                else {
                    alertF(data.msg);
                }
            })
        }
    </script>
</body>
</html>
