@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/layui-v2.5.6/layui/css/layui.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body style="margin-top:50px">
    <div style="padding:0 15px;background-color: #F2F2F2;">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">集团名称</div>
                    <div class="layui-card-body">
                        <form class="layui-form">
                            <div class="layui-form-item">
                                <label class="layui-form-label">集团名称</label>
                                <div class="layui-input-block">
                                    <input type="text" id="txtgname" autocomplete="off" class="layui-input" style="width:60%" value="@ViewBag.GroupName" />
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block ">
                                    <input type="button" onclick="savegname()" class="layui-btn layui-btn-normal" value="保存" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">品牌</div>
                    <div class="layui-card-body">
                        <table class="layui-hide" id="brands" lay-filter="brands"></table>
                        <script type="text/html" id="toolbarBrand">
                            <div class="layui-btn-container">
                                @{
                                    foreach (var btn in ViewBag.Buttons)
                                    {
                                        <button type="button" class="@btn.ClassName" onclick="@btn.FuncName">@btn.ButtonName</button>
                                    }
                                }
                                @*<button type="button" class="layui-btn layui-btn-normal" onclick="add()">新增</button>
                                    <button type="button" class="layui-btn" onclick="edit()">修改</button>
                                    <button type="button" class="layui-btn layui-btn-danger" onclick="del()">删除</button>*@
                            </div>
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/themes/jquery2.1.1.min.js"></script>
    <script src="~/Content/layui-v2.5.6/layui/layui.js"></script>
    <script>
        var selectedData = {};
        var table;
        $(function () {
            layui.use('form', function () {
                var form = layui.form;
            })
            loaddata();
        })

        function loaddata() {
            layui.use('table', function () {
                if (!table)
                    table = layui.table;

                table.render({
                    elem: '#brands'
                    , url: '/Group/Brands/'
                    , method: 'post'
                    , toolbar: '#toolbarBrand'//说明了工具栏放在那个table上
                    , defaultToolbar: ['print', 'exports']//指定默认工具得顺序
                    , cols: [[
                          { type: 'radio' }
                        , { field: 'BrandNo', width: 100, sort: true, title: '编号' }
                        , { field: 'BrandName', width: 130, title: '名称' }
                        , { field: 'Spell', width: 130, title: '拼音' }
                        , { field: 'Comment', width: 190, title: '备注' }
                        , { field: 'UsingValue', width: 90, title: '启用' }
                        , { field: 'Id', title: '', width: 0, hide: true }
                    ]]
                    , page: true
                    , even: true //开启隔行背景
                });

                //头工具栏事件
                table.on('toolbar(brands)', function (obj) {
                });

                //绑定时，用的lay-filter属性
                table.on('rowDouble(brands)', function (obj) {
                    selectedData = obj.data;
                    layer.open({
                        title: "修改",
                        type: 2,
                        area: ['500px', '450px'],
                        fixed: false, //不固定
                        maxmin: false,
                        content: '/Group/EditBrand'
                    });
                });
            });
        }

        //保存集团名称
        function savegname() {
            $.post('/Group/SaveGroupName', { "groupName": $("#txtgname").val() }, function (ret) {
                if (ret.code < 0) {
                    alertF(ret.msg);
                }
                else {
                    alertS(ret.msg);
                }
            })
        }

        //新增
        function add() {
            selectedData = {};
            selectedData.Id = 0;
            layer.open({
                title: "新增",
                type: 2,
                area: ['500px', '450px'],
                fixed: false, //不固定
                maxmin: false,
                content: '/Group/EditBrand'
            });
        }

        //修改
        function edit() {
            var datas = table.checkStatus('brands');//用的id属性
            if (!datas || datas.data.length > 1 || datas.data.length == 0) {
                alertW("请选择一条数据！");
                return;
            }
            selectedData = datas.data[0];
            layer.open({
                title: "修改",
                type: 2,
                area: ['500px', '450px'],
                fixed: false, //不固定
                maxmin: false,
                content: '/Group/EditBrand'
            });
        }

        //删除
        function del() {
            var datas = table.checkStatus('brands');
            if (!datas || datas.data.length > 1 || datas.data.length == 0) {
                alertW("请选择一条数据！");
                return;
            }
            var id = datas.data[0].Id;
            $.post("/Group/DeleteBrand", { "id": id }, function (ret) {
                if (ret.code < 0) {
                    alertF(ret.msg);
                }
                else
                    loaddata();
                alertS(ret.msg);
            })
        }
    </script>
</body>
</html>
